@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-image: url(../img/mobile/background_header_mobile.jpg);
        height: 735px;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 238px;
        }

        &__title {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }

        &__button {
            margin-top: 32px;
        }
    }

    .game {

        &__content {
            flex-direction: column;
            align-items: center;
            row-gap: 32px;
        }

        &__item {
            width: 327px;
            padding-left: 16px;
        }

        .item1 {
            background-image: url(../img/mobile/game_mobile_1.png);
        }

        .item2 {
            background-image: url(../img/mobile/game_mobile_2.png);
        }

        .item3 {
            background-image: url(../img/mobile/game_mobile_3.png);
        }
    }

    .game-one {

        &__content {
            grid-template-columns: 1fr;
            padding: 52px 0px 84px 0px;
            row-gap: 64px;
        }
    }

    .info {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0px;

        }

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
    }

    .image {
        &__content {
            justify-content: center;
        }

        &__game {
            display: none;
        }

        &__game_mobile {
            display: block;
        }
    }
}