@media (max-width: 1199px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .game-one {
        &__content {
            grid-template-columns: 1fr;
            padding: 52px 0px 84px 0px;
            row-gap: 64px;
        }
    }

    .game-two {
        &__content {
            grid-template-columns: 1fr;
            padding: 52px 0px 90px 0px;
            row-gap: 64px;
        }
    }

    .info {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0px;
        }

        &__text {
            text-align: center;
        }
    }

    .image {
        &__content {
            justify-content: center;

            &-left {
                display: none;
            }
        }

        &__game {
            display: none;
        }

        &__game_mobile {
            display: block;
        }
    }
}