* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 1200px/2);
    padding-right: calc(50% - 1200px/2);
    max-width: 1440px;
}

@import 'index';
@import 'mobile';